{% extends 'base.html.twig' %}

{% block title %}Gestion des types{% endblock %}

{% block body %}
<a href="{{path('type_add')}}"><button class="btn btn-success">Créer un type</button></a>

<table class="table table-striped table-borderd">
<tr>
<th>Concours</th>
<th>ORDRE</th>
<th>NOM</th>
<th>VOLUME MIN LOT</th>
<th>NBRE MAX ECH</th>
<th>Actions</th>
</tr>
{% for type in types %}
    <tr>
    <td>{{type.concours.name}}</td>
    <td>{{type.ordre}}</td>
    <td>{{type.nom}}</td>
    <td>{{type.volMinLot}} {{type.unite}}</td>
    <td>{{type.nbreMaxEch}}</td>
    <td>
    <a href="{{ path('type_edit', {'id': type.id}) }}">
    <button class="btn btn-primary btn-sm py-0" style="font-size: 0.8em;">Modifier</button></a>
    {% include "type/_delete_form.html.twig" %}
    </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
