<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Connexion concours</title>    

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
            
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/signin.css">
    
  </head>
  <body class="text-center">
  
    
<main class="form-signin">

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% if app.user %}
    <div style="background:AliceBlue; border-radius:5px; padding:5px;" class="mb-3">
        Vous êtes actuellement connecté(e) avec l'adresse email "<em>{{ app.user.username }}</em>"
        <a href="{{ path('app_logout') }}"><button class="btn btn-primary mt-3">Déconnexion</button></a>
    </div>
{% else %}
    
    <img class="mb-4" src="images/logo_cto-154x100.png" alt="" width="80" >
    <div style="background:AliceBlue; border-radius:5px; padding:5px;" class="mb-3">
    <h5 class="h5 mb-3 fw-normal">Connexion <br>au <br>Concours de la Foire de Brignoles</h5>
    </div>
  <form action="{{path('app_login')}}" method="post">


    <label for="inputEmail" class="visually-hidden">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus placeholder="Email">

    <label for="inputPassword" class="visually-hidden">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Mot de passe">

     <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
   
    <button class="w-100 btn btn-lg btn-primary" type="submit">Connexion</button>
  </form>
  <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
  {% endif %}
</main>
{# 
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes actuellement connecté(e) avec l'adresse email "<em>{{ app.user.username }}</em>", <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
    

    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
</form>
<a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
 #}

    
  </body>
</html>
