
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Paramètres
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{path('concours_index')}}">Concours</a></li>
                    <li><a class="dropdown-item" href="{{path('type_index')}}">Types de produits</a></li>
                    <li><a class="dropdown-item" href="{{path('categorie_index')}}">Catégories</a></li>
                    <li><a class="dropdown-item" href="{{path('procede_index')}}">Procédés</a></li>
                    <li><a class="dropdown-item" href="{{path('paiement_index')}}">Modes de paiement</a></li>
                    <li><a class="dropdown-item" href="{{path('livraison_index')}}">Dépôts</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{path('concours_reglt')}}" target="_blank">Réglement du Concours</a></li>
                   
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Échantillons
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{path('echantillon_index')}}">Liste à l'écran</a></li>
                    <li><a class="dropdown-item" href="{{path('echantillons-liste-excel')}}">Liste sur Excel</a></li>
                   
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Inscrits
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {# <li><a class="dropdown-item" href="{{path('user_index')}}">Liste de tous les utilisateurs</a></li> #}
                    <li><a class="dropdown-item" href="{{path('jure_index')}}">Liste jurés</a></li>
                    <li><a class="dropdown-item" href="{{path('jures-liste-excel')}}">Liste jurés Excel</a></li>
                    <li><a class="dropdown-item" href="{{path('candidat_index')}}">Liste des candidats du concours</a></li>
                    <li><a class="dropdown-item" href="{{path('tous_candidat_index')}}">Liste de tous les inscrits</a></li>
                    <li><a class="dropdown-item" href="{{path('user_add')}}">Ajouter</a></li>
                   
                </ul>
                </li>

                

                <li class="nav-item">
                <a class="nav-link" href="{{path('app_logout')}}" tabindex="-1" aria-disabled="true">Déconnexion</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
