{% extends "base.html.twig" %}
{% block body %}
<div class="row text-center mt-5">
<h4>Concours {{concours.name}}</h4>
</div>
<div class="row mt-5" style="border:1px grey solid;border-radius:5px;padding:5px;background-color:#eee;width:35%">
{{echantillon.user.profil.raisonSociale|upper}}
<br>
{{echantillon.user.profil.nom|title}} {{echantillon.user.profil.prenom|title}} 
<br>
Catégorie : {{echantillon.categorie.name}}
</div>
<div class="row mt-2">
{{form(form)}}
</div>

{% endblock %}



