{% extends 'base.html.twig' %}

{% block title %}Situation candidat{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
{% endblock %}
{% block body %}

{% if is_granted('ROLE_ADMIN') == false %}

<div class="page">
    <!-- Sidebar -->
    <div id="sidebar">
        <div class="sidebar-header mb-4 mt-5">
            <h4>Vos coordonnées</h4>
        </div>
        <div id="coordonnees">
            {% if profil %}
                {% if profil.raisonSociale %}
                    {{profil.raisonSociale}}
                    <br>
                {% endif %}
                {% if profil.nom %}
                    {{profil.nom}} {{profil.prenom}}
                    <br>
                {% endif %}
                {% if profil.adress1 %}
                    {{profil.adress1}}
                    <br>
                {% endif %}
                {% if profil.adress2 %}
                    {{profil.adress2}}
                    <br>
                {% endif %}
                {% if profil.adress3 %}
                    {{profil.adress3}}
                    <br>
                {% endif %}
                {% if profil.adress4 %}
                    {{profil.adress4}}
                    <br>
                {% endif %}
                {% if profil.adress5 %}
                    {{profil.adress5}}
                    <br>
                {% endif %}
                {% if profil.phone %}
                    {{profil.phone}}
                    <br>
                {% endif %}
            <br>
            <a href="{{path('profil_edit',{'id':profil.id})}}"><button class="btn btn-primary btn-sm">Modifiez vos coordonnées</button></a>
            {% else %}
            <div class="text-center">
               <a href="{{path('profil_add')}}"><button class="btn btn-warning btn-sm">Complétez vos coordonnées</button></a>
            </div>
            {% endif %}
            <div class="text-center mt-5">
                <a href="{{path('app_logout')}}"><button class="btn btn-secondary btn-sm">Déconnexion</button></a>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="center-page">
    <div class="">
    <div id="echantillons">
        {% include "dashboard/_echantillons.html.twig" with {'echantillons': echantillons} %}
    </div>
    {% if echantillons | length > 0 %}
    <div id="validation">
        <a href="{{path('validation_phase1')}}"><button class="btn btn-warning btn-sm">Valider l'inscription des échantillons</button></a>
    </div>
    {% endif %}
    </div>
    </div>

</div>
{% endif %}    
{% endblock %}
