{% extends 'base.html.twig' %}

{% block title %}Validation échantillons{% endblock %}

{% block body %}
{# {% include "/dashboard/_liste_echantillons.html.twig" with echantillons %} #}

<div style="padding-top:50px;margin:auto;">
<h4 style="text-align:center">Frais de participation</h4>
<table class="table table-bordered">
<tr>
<th>Echantillons</th>
<th>Coût unitaire HT</th>
<th>Total HT</th>
<th>taux TVA</th>
<th>Total TTC</th>
</tr>
<tr>
<td>{{echantillons|length}}</td>
<td>{{concours.cout|format_currency('EUR',locale='fr')}}</td>
<td>{{HT|format_currency('EUR',locale='fr')}}</td>
<td>{{tauxTVA|number_format(2, ',', ',')}} %</td>
<td style="font-weight:bold">{{TTC|format_currency('EUR',locale='fr')}}</td>
</tr>
</table>
<br>

{{form_start(form)}}
<div class="row">
        <div class="col">
        <h4 style="text-align:center">Choix du lieu de dépôt des échantillons</h4>
            {{ form_row(form.depot) }}
        </div>
        <div class="col">
        <h4 style="text-align:center">Choix du mode de paiement</h4>
            {{ form_row(form.paie) }}
        </div>
</div>
<div class="row">
<div class="col text-center">
{{form_end(form)}}
</div>
</div>


</div>
{% endblock %}
