{% extends 'base.html.twig' %}

{% block title %}Validation échantillons{% endblock %}

{% block body %}
{% include "/dashboard/_liste_echantillons.html.twig" with echantillons %}

<div style="width:500px; font-size:80%">
Participation :
<table class="table table-bordered">
<tr>
<th>Echantillons</th>
<th>Coût unitaire HT</th>
<th>Total HT</th>
<th>taux TVA</th>
<th>Total TTC</th>
</tr>
<tr>
<td>{{echantillons|length}}</td>
<td>{{concours.cout|format_currency('EUR',locale='fr')}}</td>
<td>{{HT|format_currency('EUR',locale='fr')}}</td>
<td>{{tauxTVA|number_format(2, ',', ',')}} %</td>
<td style="font-weight:bold">{{TTC|format_currency('EUR',locale='fr')}}</td>
</tr>
</table>
<br>

</div>
{% endblock %}
